<div class="row">
    <div class="col-md-7 center">
        <a href="<%= today_url(devotional) %>">
            <% if devotional.image.url.nil? %>
                <img class="img-responsive" src="http://placehold.it/700x300" alt="">
            <% else %>
                <%= image_tag devotional.image.url, :class => 'img-responsive' %>
            <% end %>
        </a>
    </div>
    <div class="col-md-5">
        <h3><%= devotional.title %></h3>
        <h4><%= "Día: " + devotional.day.to_s %></h4>
        <h5><%= devotional.passage %></h5>

        <% if !devotional.brief.nil? && devotional.brief.strip != "" %>
            <p><%= devotional.brief %></p>
        <% else %>
            <p><%= truncate devotional.story, :length => 430 %></p>
        <% end %>
        <a class="btn btn-primary" href="<%= today_url(devotional) %>">Ir al devocional <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<hr>