<%= render :partial => 'header' %>

<div class="container">
    <%= render :partial => 'devotional', :collection => @devotionals %>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
              <%
                total_pages = @total_pages
                i = 1

                if total_pages > 5
                  total_pages = @page + 5 < @total_pages ? @page + 5 : @total_pages
                  i = @page > 5 ? @page - 4 : 1
                end
              %>
                <% for value in i..total_pages %>
                    <li class="<%= @page == value ? 'active' : '' %>">
                        <a href="?page=<%= value %>"><%= value %></a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>

<%= render :partial => 'footer' %>