<html>
<head>
	<meta charset="UTF-8">
	<title>Devocional</title>
</head>

<body>
	<div>
		<h1><%= @devotional.title %></h1>
	</div>

	<% if !@devotional.image.url.nil? %>
		<div>
			<table>
				<tr>
					<td style="vertical-align:top;">
						<img src="<%= 'http://hablandocondios.com' + @devotional.image.url %>" width="300" />
					</td>
					<td width="20">
						&nbsp;&nbsp;&nbsp;
					</td>
					<td style="vertical-align:top;">
						<div>
							<h3><%= @devotional.passage %></h3>
							<p>
								<%= format_to_br(@devotional.passage_text) %>
							</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	<% else %>
		<div>
			<h3><%= @devotional.passage %></h3>
			<p>
				<%= format_to_br(@devotional.passage_text) %>
			</p>
		</div>
	<% end %>

	<div>
		<h3>Historia</h3>
		<p>	
			<%= format_to_br(@devotional.story) %>
		</p>
	</div>

	<div>
		<h3>Preguntas</h3>
		<p>	
			<%= format_to_br(@devotional.questions) %>
		</p>
	</div>

	<div>
		<h3>Pasaje a memorizar</h3>
		<p>	
			<%= @devotional.passage_mem %>
		</p>
		<br>
		<p>	
			<%= @devotional.quote %>
		</p>
	</div>
</body>
</html>