<html>
<head>
	<meta charset="UTF-8">
	<title>Devocional</title>
</head>

<body>
	<div>
		<h1><%= @devotional.title %></h1>
	</div>

	<% if !@devotional.image.url.nil? %>
		<div>
			<table>
				<tr>
					<td style="vertical-align:top;">
						<img src="<%= 'http://hablandocondios.com' + @devotional.image.url %>" width="300" />
					</td>
					<td width="20">
						&nbsp;&nbsp;&nbsp;
					</td>
					<td style="vertical-align:top;">
						<div>
							<% if !@devotional.passage.nil? && @devotional.passage.strip != "" %>
								<h3><%= @devotional.passage %></h3>
							<% end %>

							<% if !@devotional.passage_text.nil? && @devotional.passage_text.strip != "" %>
								<p>
									<%= format_to_br(@devotional.passage_text) %>
								</p>
							<% end %>
						</div>
					</td>
				</tr>
			</table>
		</div>
	<% else %>
		<div>
			<% if !@devotional.passage.nil? && @devotional.passage.strip != "" %>
				<h3><%= @devotional.passage %></h3>
			<% end %>

			<% if !@devotional.passage_text.nil? && @devotional.passage_text.strip != "" %>
				<p>
					<%= format_to_br(@devotional.passage_text) %>
				</p>
			<% end %>
		</div>
	<% end %>

	<div>
		<h3>Historia</h3>
		<p>	
			<%= format_to_br(@devotional.story) %>
		</p>
	</div>

	<% if !@devotional.questions.nil? && @devotional.questions.strip != "" %>
		<div>
			<h3>Preguntas</h3>
			<p>	
				<%= format_to_br(@devotional.questions) %>
			</p>
		</div>
	<% end %>

	<div>
		<% if !@devotional.passage_mem.nil? && @devotional.passage_mem.strip != "" %>
			<h3>Pasaje a memorizar</h3>
			<p>	
				<%= @devotional.passage_mem %>
			</p>
			<br>
		<% end %>

		<% if !@devotional.quote.nil? && @devotional.quote.strip != "" %>
			<p>	
				<%= @devotional.quote %>
			</p>
		<% end %>
	</div>
</body>
</html>